echo "# Modern-ELT-Pipeline-End-to-End" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/sasimanchina7/Modern-ELT-Pipeline-End-to-End.git
git push -u origin main
